.intro {
  height: 75vh;
  display: flex;
  flex-direction: column;
}
.intro h1 {
  color: #f9e233;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 26px;
  animation: 600ms ease 600ms 1 normal forwards running intro;
  opacity: 0;

  margin: 80px 0 50px 0;
}
.intro .introduction {
  animation: 600ms ease 600ms 1 normal forwards running intro;
  opacity: 0;
  animation-delay: 2s;
}
.intro ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.intro ul li {
  font-size: 14px;
  font-weight: 900;
}
.intro nav {
  display: flex;
  flex-direction: column;
}
.intro nav h2 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 1vh;
}
.intro nav a {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.intro nav a .whats {
  background-color: #25d366;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.intro nav a span {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.5s;
}
.intro nav a span:hover {
  color: #e8d365;
}
.intro nav a span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.intro nav a:hover span {
  padding-right: 25px;
}
.intro nav a span svg {
  margin-left: 1vw;
}
.intro nav a:hover span:after {
  opacity: 1;
  right: 0;
}
@keyframes intro {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 820px) {
  .intro {
    justify-content: start;
  }
  .intro h1 {
    margin: 60px 0 0 0;
    width: 100%;
    font-size: 36px;
    text-align: center;
  }
  .intro .introduction {
    margin: 100px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .intro .introduction ul {
    margin: 0;
  }
  .intro .introduction ul li {
    font-size: 18px;
  }
  .intro .introduction nav h2 {
    font-size: 28px;
  }
  .intro nav a span {
    font-size: 18px;
  }
}
