footer {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer p {
	font-style: italic;
}
footer a {
	width: 220px;
	margin-top: 5px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f9e233;
	border-radius: 25px;
	color: #000;
	font-weight: 900;
	text-decoration: none;
}
#impulse {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	bottom: -65px;
	font-size: 0.8rem;
}
#impulse a {
	margin-left: 2px;
	color: #c8d0ce;
	text-decoration: none;
}
@media (min-width: 820px) {
	footer {
		flex-direction: row;
	}
	footer a {
		margin: 0 0 0 10px;
	}
}
